exported_workflows/playground.json
{
  "name": "playground",
  "nodes": [
    {
      "parameters": {
        "url": "https://krebsonsecurity.com/feed/",
        "options": {}
      },
      "id": "ce2edb51-0a18-4b84-8cc3-0046b42390d2",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        288,
        64
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        16,
        64
      ],
      "id": "a0415910-f3c6-4991-be68-c35f6fa56048",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1104,
        64
      ],
      "id": "c8c49253-d162-4b27-995e-b027a940cfaa",
      "name": "Discord",
      "webhookId": "0a3c8878-0eca-4e4c-bb0d-4a6835550338",
      "credentials": {
        "discordWebhookApi": {
          "id": "__DISCORD_WEBHOOK_ID__",
          "name": "__DISCORD_WEBHOOK_NAME__"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        528,
        64
      ],
      "id": "441b260a-22de-4e67-ad05-9242a3a30789",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Can you summarize this in 2 senetence, you're unhinged, borderline offensive, use as my pop culture references as possbile, act line Theo Von.\n\n {{ $json.content }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        64
      ],
      "id": "fc39523a-1ba1-4be4-818c-ae3d4076543f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        272
      ],
      "id": "fe48585c-62df-4e1e-a3fa-696211e6eb61",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "__GOOGLE_PALM_API_ID__",
          "name": "__GOOGLE_PALM_API_NAME__"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=are we playing something tonight?\n<@340507852957548544><@540156872993538058><@432582366427348993><@596349976242683904><@506397106810912768><@425988679878574082>",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        144,
        336
      ],
      "id": "cb056eb0-75de-4f06-83d4-1820bbd5c6ed",
      "name": "Discord1",
      "webhookId": "0a3c8878-0eca-4e4c-bb0d-4a6835550338",
      "credentials": {
        "discordWebhookApi": {
          "id": "UCDmroUg00x0gffK",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        336
      ],
      "id": "ef8b331c-eb05-4fbb-bd71-08048ba153f4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9042ea46-7ea7-4617-a921-fe715eee0300",
              "name": "github_username",
              "value": "github_username",
              "type": "string"
            },
            {
              "id": "85aaef47-ccf5-4f52-88e7-1e45ad282da5",
              "name": "github_pat",
              "value": "__GITHUB_PAT__",
              "type": "string"
            },
            {
              "id": "730f6924-01c4-49f3-aff8-0258f4ef61d5",
              "name": "github_server",
              "value": "github.com",
              "type": "string"
            },
            {
              "id": "a6a8e832-fa2b-4035-91ef-567c76311463",
              "name": "org",
              "value": "city-tech",
              "type": "string"
            },
            {
              "id": "e92e8fb1-f7ea-433d-8083-0f5f16d8c0d6",
              "name": "branch",
              "value": "environment-based-test",
              "type": "string"
            },
            {
              "id": "5da9eed5-a421-4ce4-b1c7-76a8e520e91d",
              "name": "repo",
              "value": "Get-Pay-V3-PlayWright",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        528
      ],
      "id": "544264d1-e840-4bf2-a15a-fbcd2237f344",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "command": "=#!/bin/sh\nset -eu\n: \"${ARTIFACTS_HOST_DIR:=/srv/n8n/artifacts}\"\nTS=\"$(date +%F_%H%M%S)\"\nLOG_FILE=\"Playwright_${TS}.log\"\nDIAG_FILE=\"diag_${TS}.log\"\nREPORT_DIR=\"playwright-report-${TS}\"\nTEST_TIMEOUT=\"{{ $json.timeout_secs || 1800 }}\"  # 30m\nNAME=\"pw-run-${TS}\"\nGH_USER='{{$json.github_username}}'\nGH_TOKEN='{{$json.github_pat}}'\nGH_SERVER='{{ $json.github_server || \"github.com\" }}'\nGH_ORG='{{ $json.org || \"city-tech\" }}'\nGH_REPO='{{$json.repo}}'\nGIT_BRANCH='{{ $json.branch || \"environment-based-test\" }}'\nSPEC_PATH='{{ $json.spec_path || \"tests/ui_test/specs/bankPortal/2_merchant_onboarding.spec.ts\" }}'\nPLAYWRIGHT_CONFIG='{{ $json.playwright_config || \"\" }}'\n[ -n \"$GH_USER\" ]  || { echo \"Missing github_username\"; exit 1; }\n[ -n \"$GH_TOKEN\" ] || { echo \"Missing github_pat\"; exit 1; }\n[ -n \"$GH_REPO\" ]  || { echo \"Missing repo\"; exit 1; }\ndocker run --name \"$NAME\" -d --pull=never \\\n  -v \"${ARTIFACTS_HOST_DIR}\":/artifacts \\\n  -e GH_USER=\"$GH_USER\" -e GH_TOKEN=\"$GH_TOKEN\" \\\n  -e GH_SERVER=\"$GH_SERVER\" -e GH_ORG=\"$GH_ORG\" \\\n  -e GH_REPO=\"$GH_REPO\" -e GIT_BRANCH=\"$GIT_BRANCH\" \\\n  -e SPEC_PATH=\"$SPEC_PATH\" -e PLAYWRIGHT_CONFIG=\"$PLAYWRIGHT_CONFIG\" \\\n  -e CI=1 \\\n  playwright-runner:latest \"\n    set -eux\n    log(){ echo \\\"[\\$(date -Iseconds)] \\$1\\\" | tee -a \\\"/artifacts/${DIAG_FILE}\\\"; }\n    export GIT_TERMINAL_PROMPT=0\n    mkdir -p /work && cd /work\nlog \\\"STAGE=CLONE start\\\"\ntimeout 120 git clone --depth 1 --branch \\\"${GIT_BRANCH}\\\" \\\n  \\\"https://${GH_USER}:${GH_TOKEN}@${GH_SERVER}/${GH_ORG}/${GH_REPO}.git\\\" repo\ncd repo\nlog \\\"STAGE=CLONE+CHECKOUT done (branch ${GIT_BRANCH})\\\"\n    log 'STAGE=NPM_INSTALL start'\n    export NPM_CONFIG_AUDIT=false NPM_CONFIG_FUND=false\n    if [ -f package-lock.json ]; then\n      timeout 600 npm ci --no-audit --no-fund --prefer-offline\n    else\n      timeout 600 npm i  --no-audit --no-fund --prefer-offline\n    fi\n    log 'STAGE=NPM_INSTALL done'\n    mkdir -p \\\"/artifacts/${REPORT_DIR}\\\"\n    log 'STAGE=TEST start'\n    \n    # Run tests and capture exit code without failing the script\n    set +e  # Temporarily disable exit on error\n    if [ -n \\\"${PLAYWRIGHT_CONFIG}\\\" ]; then\n      timeout ${TEST_TIMEOUT} \\\n        npx playwright test ${SPEC_PATH} --config=\\\"${PLAYWRIGHT_CONFIG}\\\" --reporter=line,html \\\n        --workers=1 --output=\\\"./test-results\\\" > \\\"/artifacts/${LOG_FILE}\\\" 2>&1\n      TEST_EXIT=\\$?\n    else\n      timeout ${TEST_TIMEOUT} \\\n        npx playwright test ${SPEC_PATH} --reporter=line,html \\\n        --workers=1 --output=\\\"./test-results\\\" > \\\"/artifacts/${LOG_FILE}\\\" 2>&1\n      TEST_EXIT=\\$?\n    fi\n    # Also output the log to stdout for docker logs\n    cat \\\"/artifacts/${LOG_FILE}\\\"\n    set -e  # Re-enable exit on error\n    \n    log \\\"STAGE=TEST done exit=\\$TEST_EXIT\\\"\n    if [ -d \\\"playwright-report\\\" ]; then\n      cp -a \\\"playwright-report/.\\\" \\\"/artifacts/${REPORT_DIR}/\\\"\n    fi\n    STATUS='fail'; [ \\$TEST_EXIT -eq 0 ] && STATUS='pass'\n    SUMMARY=\\\"{\\\\\\\"status\\\\\\\":\\\\\\\"\\$STATUS\\\\\\\",\\\\\\\"exit_code\\\\\\\":\\$TEST_EXIT,\\\\\\\"host_log_path\\\\\\\":\\\\\\\"/srv/n8n/artifacts/${LOG_FILE}\\\\\\\",\\\\\\\"host_report_dir\\\\\\\":\\\\\\\"/srv/n8n/artifacts/${REPORT_DIR}\\\\\\\",\\\\\\\"diag\\\\\\\":\\\\\\\"/srv/n8n/artifacts/${DIAG_FILE}\\\\\\\"}\\\"\n    echo \\\"\\$SUMMARY\\\" | tee -a \\\"/artifacts/${DIAG_FILE}\\\"\n    exit \\$TEST_EXIT\n  \"\n\n# Stream logs and capture exit code without failing the command\ndocker logs -f \"$NAME\" &\nLOGS_PID=$!\n\n# Wait for container to finish and get exit code\ndocker wait \"$NAME\" > /tmp/exit_code_${NAME}\nEXIT_CODE=$(cat /tmp/exit_code_${NAME})\n\n# Stop log streaming\nkill $LOGS_PID 2>/dev/null || true\nwait $LOGS_PID 2>/dev/null || true\n\n# Clean up\ndocker rm -f \"$NAME\" >/dev/null\nrm -f /tmp/exit_code_${NAME}\n\necho \"EXIT_CODE=$EXIT_CODE\"\n\n# Only show the diagnostic info if the test failed or if explicitly requested\nif [ \"$EXIT_CODE\" -ne 0 ]; then\n    echo \"=== DIAGNOSTIC INFO ===\"\n    tail -n 20 \"${ARTIFACTS_HOST_DIR}/${DIAG_FILE}\" 2>/dev/null || echo \"No diagnostic file found\"\nfi\n\n# Always exit 0 so n8n doesn't fail - the test result is in the summary\necho \"Script completed - check summary for test results\"\nexit 0"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        528
      ],
      "id": "c3ca4e98-cb98-49c8-bc53-2654f5eeb5df",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "job": "Ghanshyam"
      },
      "type": "n8n-nodes-base.jenkins",
      "typeVersion": 1,
      "position": [
        2048,
        272
      ],
      "id": "0bde5541-0900-451b-8f04-3a201af1550c",
      "name": "Trigger a job with parameters",
      "credentials": {
        "jenkinsApi": {
          "id": "__JENKINS_API_ID__",
          "name": "__JENKINS_API_NAME__"
        }
      }
    },
    {
      "parameters": {
        "path": "95db87f8-94c0-4591-b696-ac8f5bf72270",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        528
      ],
      "id": "67aec93a-0891-4ff3-bc02-38e3a7e38438",
      "name": "Webhook",
      "webhookId": "95db87f8-94c0-4591-b696-ac8f5bf72270"
    },
    {
      "parameters": {
        "sendTo": "mail@email.com",
        "subject": "=[n8n Playwright Test] [{{ $('parse test result').item.json.status }}] Environment: {{ $json.TEST_ENV || \"qa\" }} — Branch: {{ $json.GIT_BRANCH || \"environment-based-test\" }} — Result: {{ $('parse test result').item.json.status }}",
        "message": "=<!doctype html> <html>   <body style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#111;\">     <h2 style=\"margin:0 0 8px;\">Playwright Test Execution — Get-Pay V3</h2>     <p style=\"margin:0 0 16px;\">       <strong>Status:</strong>       <span style=\"display:inline-block;padding:2px 8px;border-radius:999px;background:#e6ffed;color:#087443\">         SUCCESS       </span>     </p>      <table cellspacing=\"0\" cellpadding=\"6\" style=\"border-collapse:collapse;border:1px solid #eee;\">       <tbody>         <tr>           <td style=\"border:1px solid #eee;\"><strong>Environment</strong></td>           <td style=\"border:1px solid #eee;\">{{ $json.TEST_ENV || \"qa\" }}</td>         </tr>         <tr>           <td style=\"border:1px solid #eee;\"><strong>Branch</strong></td>           <td style=\"border:1px solid #eee;\">{{ $json.GIT_BRANCH || \"environment-based-test\" }}</td>         </tr>         <tr>           <td style=\"border:1px solid #eee;\"><strong>Repo</strong></td>           <td style=\"border:1px solid #eee;\">{{ $json.GH_ORG || \"city-tech\" }}/{{ $json.GH_REPO || \"Get-Pay-V3-PlayWright\" }}</td>         </tr>         <tr>           <td style=\"border:1px solid #eee;\"><strong>Started</strong></td>           <td style=\"border:1px solid #eee;\">{{ $json.started_at || $now }}</td>         </tr>         <tr>           <td style=\"border:1px solid #eee;\"><strong>Duration</strong></td>           <td style=\"border:1px solid #eee;\">{{ $('pass fail skipped').item.json.testDurationMins }} mins</td>         </tr>         <tr>           <td style=\"border:1px solid #eee;\"><strong>Total</strong></td>           <td style=\"border:1px solid #eee;\">        {{ $('pass fail skipped').item.json.passedTests }}      passed • {{ $('pass fail skipped').item.json.failedTests }} failed • {{ $('pass fail skipped').item.json.skippedTests }} skipped           </td>         </tr>       </tbody>     </table>      <p style=\"margin:16px 0 4px;\"><strong>Next Steps</strong></p>     <ul style=\"margin:0 0 12px;\">       <li>Tests passed successfully. Build will now proceed to the next environment (e.g., staging/production).</li>     </ul>      <p style=\"margin:16px 0 4px;\"><strong>Artifacts</strong></p>     <ul style=\"margin:0 0 12px;\">       <li>Log file (attached): <code>{{ $('parse test result').item.json.host_log_path }}</code></li>       <li>HTML report (host): <code>{{ $('parse test result').item.json.host_report_dir }}/index.html</code></li>     </ul>      <p style=\"margin-top:20px;\">— Automation Team</p>   </body> </html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "test-result-binary"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        416
      ],
      "id": "cd929398-dca2-4a4c-8f53-1ad8cb3072ea",
      "name": "Successful email",
      "webhookId": "3047c403-3de1-4c67-b8ef-aee4997ba59c",
      "credentials": {
        "gmailOAuth2": {
          "id": "__GMAIL_OAUTH2_ID__",
          "name": "__GMAIL_OAUTH2_NAME__"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "mail@email.com",
        "subject": "=[n8n Playwright Test] [{{ $('parse test result').item.json.status }}] Environment: {{ $json.TEST_ENV || \"qa\" }} — Branch: {{ $json.GIT_BRANCH || \"environment-based-test\" }} — Result: {{ $('parse test result').item.json.status }}",
        "message": "=<!doctype html>\n<html>\n  <body style=\"font-family:system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;color:#111;\">\n    <h2 style=\"margin:0 0 8px;\">Playwright Test Execution — Get-Pay V3</h2>\n    <p style=\"margin:0 0 16px;\">\n      <strong>Status:</strong>\n      <span style=\"display:inline-block;padding:2px 8px;border-radius:999px;background:#ffecec;color:#9b1c1c\">\n        FAILURE\n      </span>\n    </p>\n\n    <table cellspacing=\"0\" cellpadding=\"6\" style=\"border-collapse:collapse;border:1px solid #eee;\">\n      <tbody>\n        <tr>\n          <td style=\"border:1px solid #eee;\"><strong>Environment</strong></td>\n          <td style=\"border:1px solid #eee;\">{{ $json.TEST_ENV || \"qa\" }}</td>\n        </tr>\n        <tr>\n          <td style=\"border:1px solid #eee;\"><strong>Branch</strong></td>\n          <td style=\"border:1px solid #eee;\">{{ $json.GIT_BRANCH || \"environment-based-test\" }}</td>\n        </tr>\n        <tr>\n          <td style=\"border:1px solid #eee;\"><strong>Repo</strong></td>\n          <td style=\"border:1px solid #eee;\">{{ $json.GH_ORG || \"city-tech\" }}/{{ $json.GH_REPO || \"Get-Pay-V3-PlayWright\" }}</td>\n        </tr>\n        <tr>\n          <td style=\"border:1px solid #eee;\"><strong>Started</strong></td>\n          <td style=\"border:1px solid #eee;\">{{ $json.started_at || $now }}</td>\n        </tr>\n        <tr>\n          <td style=\"border:1px solid #eee;\"><strong>Duration</strong></td>\n          <td style=\"border:1px solid #eee;\">{{ $('pass fail skipped').item.json.testDurationMins }} mins</td>\n        </tr>\n        <tr>\n          <td style=\"border:1px solid #eee;\"><strong>Total</strong></td>\n          <td style=\"border:1px solid #eee;\">\n            {{ $('pass fail skipped').item.json.passedTests }} passed • {{ $('pass fail skipped').item.json.failedTests }} failed • {{ $('pass fail skipped').item.json.skippedTests }} skipped\n          </td>\n        </tr>\n      </tbody>\n    </table>\n\n    <p style=\"margin:16px 0 4px;\"><strong>Action Required</strong></p>\n    <ul style=\"margin:0 0 12px;\">\n      <li>Tests failed. Build has been halted, and manual intervention is required to fix the issues before proceeding.</li>\n    </ul>\n\n    <p style=\"margin:16px 0 4px;\"><strong>Artifacts</strong></p>\n    <ul style=\"margin:0 0 12px;\">\n      <li>Log file (attached): <code>{{ $('parse test result').item.json.host_log_path }}</code></li>\n      <li>HTML report (host): <code>{{ $('parse test result').item.json.host_report_dir }}/index.html</code></li>\n    </ul>\n\n    <p style=\"margin-top:20px;\">— Automation Team</p>\n  </body>\n</html>\n",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "test-result-binary"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2048,
        608
      ],
      "id": "54dcc927-5da8-4909-8a4e-803edc6846d7",
      "name": "failed email",
      "webhookId": "3047c403-3de1-4c67-b8ef-aee4997ba59c",
      "credentials": {
        "gmailOAuth2": {
          "id": "tInTKikz3Blt05Qp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ee71bb48-ac99-4c91-b530-44e32cc7245a",
              "leftValue": "={{ $('parse test result').item.json.status }}",
              "rightValue": "pass",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1648,
        528
      ],
      "id": "ce69d312-85de-46e2-b857-d1d6fa089cf2",
      "name": "test result"
    },
    {
      "parameters": {
        "jsCode": "const log = $('Execute Command').first().json.stdout;\n\nconst passedMatch = log.match(/(\\d+)\\s+passed/);\nconst skippedMatch = log.match(/(\\d+)\\s+skipped/);\nconst failedMatch = log.match(/(\\d+)\\s+failed/);\n\nconst passed = passedMatch ? parseInt(passedMatch[1]) : 0;\nconst skipped = skippedMatch ? parseInt(skippedMatch[1]) : 0;\nconst failed = failedMatch ? parseInt(failedMatch[1]) : 0;\nconst total = passed + failed + skipped;\n\n// Extract all durations with their test type (passed/failed/skipped)\nconst durationRegex = /(\\d+)\\s+\\w+\\s+\\(([\\d\\.]+)m\\)/g;\nlet match;\nlet durations = [];\n\nwhile ((match = durationRegex.exec(log)) !== null) {\n  const count = parseInt(match[1]);\n  const duration = parseFloat(match[2]);\n  durations.push({ count, duration });\n}\n\n// Choose heuristic for duration:\n// Option 1: Max duration found\nconst maxDuration = durations.length > 0 ? Math.max(...durations.map(d => d.duration)) : null;\n\nreturn [{\n  json: {\n    totalTests: total,\n    passedTests: passed,\n    failedTests: failed,\n    skippedTests: skipped,\n     testDurationMins: maxDuration,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        528
      ],
      "id": "abfc82a4-e316-4af7-b198-cf132b263bc3",
      "name": "pass fail skipped"
    },
    {
      "parameters": {
        "jsCode": "// Input: the Execute Command's output item\n// Safely grab the LAST {...} JSON object from stdout\nconst out = $input.first().json.stdout || \"\";\nconst match = out.match(/\\{(?:\"status\"[^}]+)\\}/g);\nif (!match || !match.length) {\n  throw new Error(\"No summary JSON found in stdout\");\n}\nconst summary = JSON.parse(match[match.length - 1]);\n\nreturn [{\n  status: summary.status,            // \"pass\" | \"fail\"\n  exit_code: summary.exit_code,      // 0 | !=0\n  host_log_path: summary.host_log_path,\n  host_report_dir: summary.host_report_dir,\n  diag: summary.diag\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        528
      ],
      "id": "6e35491f-b4da-47e4-845c-410b9c9461bc",
      "name": "parse test result"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('parse test result').item.json.host_report_dir }}/index.html",
        "options": {
          "dataPropertyName": "test-result-binary"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1456,
        528
      ],
      "id": "638b7ad7-938a-4e1f-b443-5caf5169b2bc",
      "name": "convert html result file to binary"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-jenkins",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        736,
        1312
      ],
      "id": "335916d7-27af-42e9-8003-3893c062b28f",
      "name": "Webhook1",
      "webhookId": "faf55986-c9b7-4434-aa4d-98c1b850c284"
    },
    {
      "parameters": {
        "url": "https://jenkisurl/me/api/json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1312
      ],
      "id": "3c8f92b7-518e-4ef7-bdfe-ff71ab674766",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "JENKINS_TOKEN_ID",
          "name": "jenkins token"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get HTTP response or error\nconst response = items[0].json;\n\nif (response.error || response.statusCode >= 400) {\n  // Jenkins returned an error\n  return [{\n    json: {\n      success: false,\n      error: response.error?.message || response.body,\n      message: 'Authorization failed - please check your credentials',\n      statusCode: response.statusCode || 401\n    },\n    pairedItem: { item: 0 }\n  }];\n} else {\n  // Successful response\n  return [{\n    json: {\n      statusCode: 200,\n      success: true,\n      message: `User ${$input.first().json.fullName} successfully logged in`,\n      username:$('Webhook1').first().json.body.username,\n      token:$('Webhook1').first().json.body.token\n    }\n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        1312
      ],
      "id": "d6e5eff6-0f1b-4f57-a78d-0fb8051012e2",
      "name": "Code"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": [
          "POST",
          "GET"
        ],
        "path": "jenkins-tools",
        "responseMode": "lastNode",
        "options": {
          "responseContentType": "application/json"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        864,
        2304
      ],
      "id": "9901051c-4250-4b97-bb60-12778447b09f",
      "name": "Webhook2",
      "webhookId": "de17f064-90b0-4447-b4df-d41cc085be27"
    },
    {
      "parameters": {
        "url": "https://jenkinsurl/api/json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        2080
      ],
      "id": "1f0bd398-0e27-41c3-b0f4-3696f3adb17b",
      "name": "HTTP Request1",
      "credentials": {
        "httpBasicAuth": {
          "id": "JENKINS_TOKEN_ID",
          "name": "jenkins token"
        },
        "httpHeaderAuth": {
          "id": "6dqWzbfIIMTUBZQ1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: Jenkins API JSON (from previous HTTP Request)\n// Goal: Extract all views and list their names, URLs, and class types\n\nconst data = $input.first().json.jobs; // handle array or object input\n\nif (!data || !data) {\n  return [{ json: { error: \"No views found in provided JSON.\" } }];\n}\n\n// Map through all views\nconst jobs = data.map(v => ({\n  name: v.name,\n  url: v.url,\n  type: v._class,\n}));\n\n// Sort alphabetically by view name for neat output\njobs.sort((a, b) => a.name.localeCompare(b.name));\n\nreturn [\n  {\n    json: {\n      totalJobs: jobs.length,\n      jobs,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        2080
      ],
      "id": "770f0151-c4db-4eef-850c-71336744e2b7",
      "name": "Get jobs"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Code1').item.json }}",
        "options": {
          "systemMessage": "You are a Jenkins Build Bot using the official Jenkins MCP tools.\nWhen given a JSON input containing a jobFullName, url, and optional parameters, your task is to:\n\nValidate parameters using Jenkins MCP APIs.\n\nIf required parameters are missing, return an error listing them.\n\nTrigger the build via MCP — use buildWithParameters if parameters exist, otherwise build.\n\nAfter triggering, retrieve and return the latest build number.\n\nAlways respond in concise JSON:\n\nOn success → { \"status\": \"success\", \"job\": \"<name>\", \"buildNumber\": <num> }\n\nOn failure → { \"status\": \"error\", \"message\": \"<reason>\" }\nUse Jenkins authentication and MCP request utilities for all operations. Keep all replies machine-readable JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2096,
        2080
      ],
      "id": "169cde67-19b8-4ba2-9631-86df8fb0e2f5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "endpointUrl": "https://jenkinsurl/mcp-server/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        2368,
        2336
      ],
      "id": "df2df742-bd8e-40c4-9e60-5336d55bc7b0",
      "name": "MCP Client",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6dqWzbfIIMTUBZQ1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2000,
        2336
      ],
      "id": "fd816dc1-1786-4709-99aa-33785be2d002",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "CFq4WeQGZc2nl4As",
          "name": "office"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bodyInput =$('Webhook2').first().json.body;\nconst jobsInput = $input.first().json.jobs;\n\nif (!bodyInput?.jobFullName) {\n  return [{ json: { error: \"Missing 'jobFullName' in body input.\" } }];\n}\n\nif (!Array.isArray(jobsInput)) {\n  return [{ json: { error: \"Missing 'jobs' array in Jenkins data.\" } }];\n}\n\n// Find the job (case-insensitive match)\nlet targetJob = jobsInput.find(j => j.name === bodyInput.jobFullName);\nif (!targetJob) {\n  const lowerTarget = bodyInput.jobFullName.toLowerCase();\n  targetJob = jobsInput.find(j => j.name.toLowerCase() === lowerTarget);\n}\n\nif (!targetJob) {\n  return [{\n    json: {\n      error: `Job '${bodyInput.jobFullName}' not found.`,\n      availableJobs: jobsInput.map(j => j.name).slice(0, 10)\n    }\n  }];\n}\n\n// Return clean job + parameters\nreturn [{\n  json: {\n    job: {\n      name: targetJob.name,\n      url: targetJob.url,\n      type: targetJob.type || targetJob._class,\n      parameters: bodyInput.parameters || {}\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        2080
      ],
      "id": "767a28c4-9db4-439d-9d20-910bde80bd19",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a Jenkins Info Agent using official Jenkins MCP tools.\nBased on the provided JSON input containing action, job, and buildNumber, decide which MCP tool to use and execute it accordingly:\n\n/whoAmI → Return authenticated user info.\n\n/getBuildChangeSets → Return the changelog for the specified job and build.\n\n/getBuild → Return build metadata (status, duration, timestamp, etc.).\n\n/getBuildLog → Return the console log for the given build.\n\nUse the parameters in the input to construct proper MCP calls.\nAlways respond in well-formatted, compact JSON with clear field names.\nExample success:\n\n{ \"status\": \"success\", \"action\": \"getBuild\", \"job\": \"Ghanshyam\", \"buildNumber\": 42, \"data\": { ... } }\n\n\nExample error:\n\n{ \"status\": \"error\", \"message\": \"Invalid or missing parameters.\" }\n\n\nKeep responses strictly machine-readable JSON — no explanations or text outside JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1504,
        2384
      ],
      "id": "9bd5a811-bd14-4493-954e-c7e9ce2d4675",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "endpointUrl": "https://jenkinsurl/mcp-server/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "headerAuth",
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        1760,
        2592
      ],
      "id": "9ec96911-eb4e-4b07-971d-d189a59c3489",
      "name": "MCP Client1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6dqWzbfIIMTUBZQ1",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1408,
        2592
      ],
      "id": "77e289a5-4b7f-4b28-815f-4b4b597e77fb",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "CFq4WeQGZc2nl4As",
          "name": "office"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Feed Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Discord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "parse test result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger a job with parameters": {
      "main": [
        []
      ]
    },
    "test result": {
      "main": [
        [
          {
            "node": "Trigger a job with parameters",
            "type": "main",
            "index": 0
          },
          {
            "node": "Successful email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "failed email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pass fail skipped": {
      "main": [
        [
          {
            "node": "convert html result file to binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse test result": {
      "main": [
        [
          {
            "node": "pass fail skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert html result file to binary": {
      "main": [
        [
          {
            "node": "test result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get jobs": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b05e14cd-61cb-4af5-9440-da02c6279134",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c51e43b0411cc9785ddf670f9e053431f87e9413fb3ab84c90ddd65b9d40abdb"
  },
  "id": "9j5fmIS3bPKF6yRz",
  "tags": []
}